/* http://paletton.com/palette.php?uid=12A0u0klllraIwbg4qKqBgcvXaQ */

body {
   font-family: "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content {
   margin-top: 20px;
}

.field--name-field-paragraphtitel {
   margin-top: 15px;
   margin-bottom: 5px;
   font-weight: bold;
}

.author {
   text-align: right;
}

.main-container {
   padding-bottom: 50px;
   /* background: #F5F5F5 url(../images/bkg_smoky_cords.jpg) top left repeat; */

}



h1 {
   line-height: 50px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 2.6em;
   font-weight: bolder;
   text-transform: uppercase;
}


h2.block-title {
   font-size: 1.0em;
   line-height: 1.2em;
   margin-bottom: 5px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0px;
}

.block {
   color: #3E7313;
}