.content {
   margin-top: 20px;
}

.field--name-field-paragraphtitel {
   margin-top: 15px;
   margin-bottom: 5px;
   font-weight: bold;
}

.author {
   text-align: right;
}
.main-container {
   background-color: #f2d98a;
}
